.NavigationBar {
  width: 100%;
  background-color: yellowgreen;
}


ul.NavigationBarList {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin: 0;
  flex-grow: 1;
  float: left;
}

li a {
  display: block;
  padding: 1em;
  text-align: center;
}

li a:hover {
  background-color: aqua;
}