.app-container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  background-color: tan; 
}

.app-leftside-container {
  width: 40em;
}

.app-rightside-container {
  width: 100%;
}