body {
  color: rgb(0, 39, 76, 1);
  font-family:'Nunito Sans', 'Montserrat', 'Merriweather', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
}

p {
  font-size: large;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Playfair Display', 'Times New Roman', serif;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: row;
  background-color: rgb(207, 192, 150); 
}

.app-leftside-container {
  width: 40em;
}

.app-rightside-container {
  width: 100%;
}

@media (max-width: 1040px) {
  .app-container {
    flex-direction: column;
  }
  .app-leftside-container {
    width: 100%;
  }
}