.app-container {
  width: 100vw;
  /* howwwwwwwwwww */
  height: max(100vh, fit-content);
  display: flex;
  background-color: tan; 
}

.app-leftside-container {
  width: 40em;
}

.app-rightside-container {
  width: 100%;
}