html { scroll-behavior: smooth; } 

body {
  margin: 0;
  color: #00274c;
  font-family: "Merriweather", "Nunito Sans","Montserrat",Calibri,"Trebuchet MS",sans-serif;
  font-size: large;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #278BF0;
}

a:visited {
  color: #278BF0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}